{# empty Twig template #}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>PanaterraGroup | Administración PH | Relocation | Real Estate</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="El mejor servicio de administracion de PH en Panamá, Real Estate, Bienes Raices. Managers & Realtors. Excelencia a su alcance">
    <meta name="keywords" content="Administracion PH Panamá, Real Este, Relocation, Managers & Realtors, Administradora PH">
    <meta name="author" content="Pronet21.com">
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <!-- REVOLUTION SLIDER -->
    <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4533943-18', 'auto');
    ga('send', 'pageview');

    </script>
    
    
</head> 

<body data-spy="scroll" data-target="#page-nav">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">      
            <h1 class="logo">
                <a href="/"><img src="assets/images/logo.svg" alt=""><span class="text">Panaterragroup </span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a class="scrollto" href="index.html">Inicio</a></li>
                        <li class="nav-item"><a class="scrollto" href="#overview-section">Nosotros</a></li>
                        <li class="nav-item"><a class="scrollto" href="#contact-section">Contáctenos</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Nuestros Servicios <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="scrollto" href="#administracion-ph">Administración PH</a></li>
                                <li><a class="scrollto" href="#features-section">Real Estate</a></li>
                                <li><a class="scrollto" href="#features-section">Relocation</a></li>
                                <li><a class="scrollto" href="#inmobiliario-section">Servicios Inmobiliario</a></li>
                            </ul>                            
                        </li><!--//dropdown-->                         
                        <li class="nav-item nav-item-cta last"><a class="btn-signup" href="#" data-toggle="modal" data-target="#login-modal">Condominio en línea</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->      
    
    <section class="promo-section section section-on-bg">
        <div class="hero-slider-wrapper">
            <div class="flexslider hero-slider">
                <ul class="slides">
                    <li class="slide slide-1"></li>
                    <li class="slide slide-2"></li>
                    <li class="slide slide-3"></li>
                </ul>
            </div>
            <div class="hero-slider-mask"></div>
        </div><!--//hero-slider-wrapper--> 
        <div class="container promo-content">                
            <h2 class="headline">Excelencia a tu alcance.</h2>
            <p class="tagline">Comience a disfrutar de nuestro servicio en línea!</p>
            <div class="actions">
                <a class="btn btn-cta btn-secondary" href="#" data-toggle="modal" data-target="#login-modal">Condominio en línea</a>  
                <!--br class="visible-xs-block"-->
                <!--a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="assets/images/play-icon.svg" alt="">See how it works</a-->
            </div>
        </div><!--//container-->
    </section><!--//promo-section-->
    
    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="nav page-nav list-inline">
                    <li><a class="scrollto" href="#overview-section">Nosotros</a></li>
                    <li><a class="scrollto"  href="#administracion-ph">Administración PH</a></li>
                    <li><a class="scrollto"  href="#features-section">Real Estate</a></li>
                    <li><a class="scrollto"  href="#features-section">Relocation</a></li>
                    <li><a class="scrollto"  href="#contact-section">Contáctenos</a></li>
                    <li><a class="scrollto"  href="#inmobiliario-section">Servicios Inmobiliarios</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->
        
    <section id="overview-section" class="overview-section section">
        <h2 class="section-title">
            Property Managers & Realtors.
        </h2>
        <div class="section-intro">
            Panaterra Group está enfocado en brindar una solución integral para todo lo relacionado con la gestión de inmuebles en Panamá, para ello, hemos diseñado estrategias y estructurado un equipo altamente capacitado para responder a las necesidades más exigentes de nuestros clientes, facilitando así el manejo eficiente de cualquier inmueble.
        </div><!--//section-intro-->
        <h3 class="section-title">Misión</h3>
        <div class="section-intro">
            Por nuestra tecnología de punta le ofrecemos los mejores servicios administrativos y legales en el área condominial e inmobiliaria en general.  Garantizando atención personalizada y un servicio de excelencia; enfocado en incrementar la plusvalía de su inmueble.
        </div>
        <h3 class="section-title">Visión</h3>
        <div class="section-intro">
            Ser una organización líder y destacada en el suministro de servicios de gestión inmobiliaria, ofreciendo siempre a nuestros clientes los mejores servicios de manera efectiva y eficaz con alto sentido de responsabilidad y honestidad.
        </div>
        <div class="figures-wrapper">
            <div class="container text-center">
                <figure class="macbook-screen">
                    <img class="img-responsive" src="assets/images/beach-apt-golf.jpg" alt="">
                </figure>
                <!--figure class="ipad-screen"><img class="img-responsive" src="assets/images/ipad-screen.png" alt=""></figure>
                <figure class="iphone-screen"><img class="img-responsive" src="assets/images/iphone-screen.png" alt=""></figure-->
                <!--a href="#" type="button" class="play-icon" data-toggle="modal" data-target="#modal-video"><img src="assets/images/play-icon-md.svg" alt=""></a-->
            </div><!--//container-->
        </div><!--//figures-wrapper-->
        <div class="benefits-wrapper">
            <div class="container text-center">
                <div class="row">
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="assets/images/icons/ph.png" alt="">
                            <h3 class="item-title">Administración de PH</h3>
                            <div class="item-desc">
                                Ofrecemos tecnología de punta con personal altamente capacitado y gran experiencia en el negocio. Nuestro objetivo es brindar el mejor servicio. 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="assets/images/icons/real-estate.png" alt="">
                            <h3 class="item-title">Real Estate</h3>
                            <div class="item-desc">
                                Asesoría para el mercado de bienes raices, con gran experiencia en el sector inmobiliario nacional e interncaional. Le ofrecemos la mejor atención y dedicación. 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-xs-12 col-sm-4">
                        <div class="item-inner">
                            <img class="item-icon" src="assets/images/icons/relocation.png" alt="">
                            <h3 class="item-title">Relocation</h3>
                            <div class="item-desc">
                                Un servicio integral con el objetivo de proporcionar una orientación para todos los extranjeros en todo aquello que sea necesario para comenzar una vida de forma organizada y sobre todo, tranquila. 
                            </div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//benefits-->
        
    </section><!--//overview-section-->
    <div class="topics-block" id="administracion-ph" style="padding-bottom: 0">
        <div class="container text-center">
            <h2 class="block-heading ">Administración de PH</h2>
            <div class="row">
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">important_devices</i>
                        </div>
                        <h3 class="title">Condominio en línea</h3>
                        <div class="intro">Ponemos a su disponsición las herramientas necesarias para brindarle al Copropietario toda la confianza y comodidad de estar siempre al dia con su PH las 24 horas del dia. Efectúe consultas y pagos de su cuota de condminio desde cualquier lugar a través de su computador, tablet o smartphone.</div>
                        <a class="link" href="javascript: void(0)"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">account_balance</i>
                        </div>
                        <h3 class="title">PH con cuenta propia</h3>
                        <div class="intro">Bajo nuestros exclusivos sistemas de trabajo, todas las cuentas bancarias están a nombre del condominio (fondo operativo, fondo de reserva y fondo de prestaciones sociales). Tanto la cuenta bancaria del Fondo de Reserva como la del Fondo de Prestaciones Sociales son manejadas de manera exclusiva por la Junta de Condominio.</div>
                        <a class="link" href="javascript: void(0)"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">group_add</i>
                        </div>
                        <h3 class="title">Atención personalizada</h3>
                        <div class="intro">Todas las solicitudes y relaciones del cliente con los diversos departamentos de nuestra organización son coordinados a través de un Ejecutivo de Cuentas que es supervisado de manera directa por una Gerencia de Servicios y por la Gerencia General de la empresa garantizando el servicio de calidad que cada uno de nuestros clientes merecen.</div>
                        <a class="link" href="javascript: void(0)"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">local_atm</i>
                        </div>
                        <h3 class="title">Gestión de Cobranza</h3>
                        <div class="intro">Notificaciones vía SMS, E-mail y visita de cobrador al edificio todas las semanas. Atención permanente al status de cobranza del PH, para evitar que la morosidad afecte el flujo de caja y los proyectos del inmueble. Seguimiento al pago de cada propietario, según modalidades establecidas: transferencia bancaria, depósitos, efectivo, pagos en el inmueble, cheque, cobranza en direcciones distintas.</div>
                        <a class="link" href="javascript: void(0)"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">history</i>
                        </div>
                        <h3 class="title">Asesoría permanente</h3>
                        <div class="intro">Además de darle apoyo en la solución de sus problemas legales, nos esmeramos en asesorar de manera oportuna y permanente a nuestros clientes en todas las ramas del derecho y también en materia administrativa, fiscal, propiedades horizontal, laboral y convivencia ciudadana. Elaboración y revisión periódica de “Reglamento Interno” y cuido de aplicación de leyes y reglamentos. Guía en todo lo relacionado con la Ley de propiedad horizontal.</div>
                        <a class="link" href="javascript: void(0)"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-xs-12 col-sm-4">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <i class="material-icons">contacts</i>
                        </div>
                        <h3 class="title">Gestión de Personal</h3>
                        <div class="intro">Reclutamiento, selección, contratación y supervisión y gestión del capital humano necesario para el funcionamiento correcto de la propiedad horizontal, manejo de planilla y trámites con la Caja de Seguro Social. Supervisión de servicios realizados por terceros. Procesamiento de la nómina.</div>
                        <a class="link" href="javascript: void(0)"></a>
                    </div><!--//item-inner-->
                </div><!--//item-->

                
            </div><!--//row-->
        </div><!--//container-->
    </div>
    
    <section>
        <div class="container">
            <div class="slider fullwidthbanner-container roundedcorners">
                <div class="fullwidthbanner" data-height="400" data-shadow="2" data-navigationStyle="">
                    <ul class="hide" style="font-family: raleway">
                        <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="assets/images/banners/inverbienes/fondoinver.png">
                            <img src="assets/images/1x1.png" data-lazyload="assets/images/banners/inverbienes/fondoinver.png" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />
                            <div class="overlay dark-1"><!-- dark overlay [1 to 9 opacity] --></div>
                            <div class="tp-caption customin ltl tp-resizeme text_white"
                                data-x="100"
                                data-y="110"
                                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-speed="800"
                                data-start="1000"
                                data-easing="easeOutQuad"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.01"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-endeasing="Power4.easeIn" style="z-index: 10;">
                                <img width="273" height="172" class="img-responsive" src="assets/images/1x1.png" data-lazyload="assets/images/banners/inverbienes/logo2.png" alt="" />
                            </div>
                            <div class="tp-caption lfr small_light_white"
                                data-x="600"
                                data-y="95"
                                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-speed="800"
                                data-start="1200"
                                data-easing="easeOutExpo"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.01"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-endeasing="Power4.easeIn" style="z-index: 10; font-size: 20px; font-family: raleway">
                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                Venta y alquiler de inmuebles residencial, comercial,<br>
                                industrial, lotes de terreno y casas de playa<br>
                                en Panamá y a nivel internacional.
                            </div>
                            <div class="tp-caption lfr small_light_white"
                                data-x="600"
                                data-y="195"
                                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-speed="800"
                                data-start="1400"
                                data-easing="easeOutExpo"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.01"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; font-size:20px; font-family: raleway">
                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                Búsqueda de acuerdo a sus necesidades
                            </div>

                            <div class="tp-caption lfr small_light_white"
                                data-x="600"
                                data-y="245"
                                data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-speed="800"
                                data-start="1550"
                                data-easing="easeOutQuad"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.01"
                                data-endelementdelay="0.1"
                                data-endspeed="1000"
                                data-endeasing="Power4.easeIn" style="z-index: 10; font-size: 20px; font-family: raleway">
                                <i class="fa fa-play-circle" aria-hidden="true"></i>
                                <span class="btn-text">Asesoría para compras, inversiones inmobiliarias<br>y negocios llave en mano</span>
                            </div>

                    </li>

                    <!-- SLIDE  -->
                    <li data-transition="fadein" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Slide title 5" data-thumb="assets/images/banners/inverbienes/fondoinver.png">
                            <img src="assets/images/1x1.png" data-lazyload="assets/images/banners/inverbienes/fondoinver.png" alt="" data-bgfit="cover" data-bgposition="left top"  />

                            <div class="tp-caption lfr" 
                                    data-x="left" data-hoffset="100"
                                    data-y="60" 
                                    data-speed="1500" 
                                    data-start="500" 
                                    data-easing="easeOutExpo" 
                                    data-elementdelay="0.1" 
                                    data-endelementdelay="0.1" 
                                    data-endspeed="300" 
                                    style="z-index: 2;">
                                    <img src="assets/images/1x1.png" data-lazyload="assets/images/banners/inverbienes/logo2.png" alt="" />
                            </div>
                           <div class="tp-caption text-white lfb"
                                    data-x="right"  data-hoffset="-50"
                                    data-y="100"
                                    data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-speed="800"
                                    data-start="1200"
                                    data-easing="easeOutQuad"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.01"
                                    data-endelementdelay="0.1"
                                    data-endspeed="1000"
                                    data-endeasing="Power4.easeIn" style="z-index: 10; font-size: 30px; color: #fff; font-family: raleway">
                                    LE DAMOS A TUS SUEÑOS UNA DIRECCIÓN
                            </div>
                    <div class="tp-caption customin ltl tp-resizeme"
                        data-x="800"
                        data-y="200"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 3;">
                        <a href="#" class="btn btn-default btn-lg" data-toggle="modal" data-target="#contact-modal" style="font-family: raleway; font-size: 14px">
                                <span>Contáctenos</span> 
                        </a>
                    </div>
                    <div class="tp-caption small_light_white" 
                        data-x="left" data-hoffset="120" 
                        data-y="300" 
                        data-speed="750" 
                        data-start="1400" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" 
                        style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap; line-height: 20px; font-family: raleway; font-size: 12px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="transition: none 0s ease 0s ; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 7px; fill: rgb(255, 255, 255); stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" style="transition: none 0s ease 0s ; line-height: 10px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 5px;"/></svg>
                        @cbinverbienespa<br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="transition: none 0s ease 0s ; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 7px; fill: rgb(255, 255, 255); stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" style="transition: none 0s ease 0s ; line-height: 10px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 5px;"/></svg>
                        www.coldwellbankerinverbinenes.com.pa<br>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="transition: none 0s ease 0s ; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 7px; fill: rgb(255, 255, 255); stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" style="transition: none 0s ease 0s ; line-height: 10px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 5px;"/></svg>
                        inverbienes@coldwellbanker.com.pa
                    </div>
                    <div class="tp-caption block_black sft small_light_white text-center" 
                        data-x="right"  data-hoffset="-100"
                        data-y="300" 
                        data-speed="750" 
                        data-start="2300" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" 
                        style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap; font-size: 14px; font-family: raleway;line-height: 22px">
                        <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="transition: none 0s ease 0s ; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 7px; fill: rgb(255, 255, 255); stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" style="transition: none 0s ease 0s ; line-height: 10px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 5px;"/></svg>
                        +507830-5397 / 6349 +507 6225-4424
                        </div>
                        <div style="line-height: 22px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="transition: none 0s ease 0s ; line-height: 13px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 7px; fill: rgb(255, 255, 255); stroke-dashoffset: 0px; stroke-dasharray: 0; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" style="transition: none 0s ease 0s ; line-height: 10px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 5px;"/></svg>
                        Vía Israel con Vía Brasil, PH Street Mall. Piso 1. Ofc.144<br>
                        Corregimiento de San Francisco. Ciudad de Panamá. Panama
                        </div>
                    </div>
                    </li>
                </ul>
                <div class="tp-bannertimer"><!-- progress bar --></div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="features-section" class="features-section section" style="padding-bottom: 0; padding-top: 0">
        <div class="pricing-block" id="pricing-block">
        <div class="container">
            <div class="row">
                <div class="item item-1 col-xs-12 col-sm-12 col-md-6">
                    <div class="item-inner">
                        <div class="summary-box text-center">
                            <h3 class="item-heading">Real Estate</h3>
                            <div class="item-intro">Ofrecemos asesoría para el mercado de bienes raíces y experiencia en el sector inmobiliario nacional e internacional. Panaterragroup le garantiza la mejor atención y dedicación, brindándoles información útil  y veraz, ayudándolos a encontrar la propiedad ideal</div>
                            <!--//price-->
                            
                            
                        </div><!--//summary-box-->
                        <div class="details-box">
                            <ul class="details-list list-unstyled">
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asistencia personalizada en todo el proceso de negociación</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Avalúo de la propiedad</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Efectividad de cierre</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Análisis comparativo del mercado</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Mercadeo del inmueble bajo listado MLS</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Estrategias publicitarias</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asesoría legal</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asesoría financiera (Alianza con bancos, crédito hipotecarios)</li>
                            </ul>
                        </div><!--//details-box-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <!--//item-->
                <div class="item item-2 item-popular col-xs-12 col-sm-12 col-md-6">
                    <div class="item-inner">
                        
                        <div class="summary-box text-center">
                            <h3 class="item-heading">Relocation</h3>
                            <div class="item-intro">Panaterragroup le ofrece un servicio integral, cuyo objetivo es proporcionar una orientación  para todos los extranjeros en todo aquello que sea necesario para comenzar una  nueva vida de forma organizada y sobre todo tranquila.</div>
                            <!--//price-->
                        </div><!--//summary-box-->
                        <div class="details-box">
                            <ul class="details-list list-unstyled">
                                <li><i class="fa fa-check" aria-hidden="true"></i> Relocation: Individual, familiar, jubilados y corporativo</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asistencia previa a la llegada, durante la estancia y a la salida</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asistencia para la compra o alquiler de vivienda</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asistencia para la compra o alquiler de vehículo</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asistencia legal para trámites migratorios</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asistencia bancaria (apertura de cuentas, créditos hipotecarios…)</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Asesoría para la selección de planes de salud</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Tour informativo por zonas residenciales, comerciales y recreativas</li>
                            </ul>
                        </div><!--//details-box-->
                        
                    </div><!--//item-inner-->
                </div><!--//item-->
                <!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </div>
    </section><!--//realestate-relocation-section-->
    <section id="contact-section" class="signup-section section">
        <div class="section-inner">
            <div class="container text-center">
                <div class="counter-container">
                </div><!--//counter-container-->
                
                <h2 class="counter-desc">Contáctenos</h2>
                
                <div class="form-wrapper">
                    <h2 class="form-title">Complete el siguiente formulario</h2>
                    <div class="form-box">
                        <h3 class="form-heading">Panaterragroup</h3>
                        <div class="form-desc">Avenida Samuel Lewis, PH Denovo, Ofic. 2501, Obarrio. Panama<br>
                        Contactos: (507) 6840-4530 / 6106-4197 / 6060-3275</div>
                        <form class="signup-form">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="firstname" class="sr-only">Nombre(s)</label>
                                    <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombre(s)">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="lastname" class="sr-only">Apellido(s)</label>
                                    <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellido(s)">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="firstname" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="email" name="emaila" placeholder="Dirección de correo electrónico">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-6">
                                    <label for="password" class="sr-only">Número Telefónico</label>
                                    <input type="password" class="form-control" id="telefono" name="telefono" placeholder="Número telefónico">
                                </div><!--//form-group-->
                                <div class="form-group col-xs-12 col-sm-12">
                                    <label for="message" class="sr-only">Mensaje</label>
                                    <textarea id="message" name="message" class="form-control" placeholder="Escriba aquí su mensaje"></textarea>
                                </div>
                            </div><!--//row-->
                            <div class="legal-note">Un especilista lo estará contactando a la brevedad.</div>
                            <button type="submit" class="btn btn-primary btn-cta">Enviar</button>
                        </form><!--//form-->
                    </div><!--//form-box-->
                </div><!--//form-wrapper-->
                
            </div><!--//container-->
        </div><!--//section-inner-->
    </section><!--//contact-section-->
    
    <section id="inmobiliario-section" class="support-section section text-center">
        <h2 class="section-title">Servicios Inmobiliarios</h2>
        <div class="section-intro">Ofrecemos un servicio personalizado con los más altos estándares de calidad brindándole al propietario la tranquilidad de que su propiedad se encuentra administrada de la mejor manera, brindado mantenimientos preventivos y correctivos para mantener la propiedad en excelentes condiciones, por medio de un manejo transparente de las finanzas haciendo el mejor uso posible de los recursos disponibles.</div>
        <div class="container">
        <div class="row">
        <div class="features-content-wrapper col-xs-12 col-sm-6 com-md-6 text-left" style="margin-bottom: 0">
        <ul class="feature-list list-unstyled">
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Agregamos valor a su propiedad.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Selección de inquilinos previa evaluación y verificación de antecedentes, referencias, etc.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Gestión de cobro de cánones de arrendamiento y depósito de los mismos en su banco local de preferencia.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Atención y coordinación a los requerimientos de servicios de reparaciones, mantenimientos, remodelaciones, etc.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Asistencia en el acondicionamiento de su propiedad (aires acondicionados, fumigaciones, mobiliario, decoración, cortinas, accesorios de cocina, etc)</li>
        </ul>
        </div>
        <div class="features-content-wrapper col-xs-12 col-sm-6 com-md-6 text-left">
        <ul class="feature-list list-unstyled">
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Asistencia legal en asuntos pertinentes.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Rendición de un informe mensual de ingresos, gastos y reporte de supervisión.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Inspección y preparación de informe de enseres y reparaciones mínimas requeridas.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Inspección de la propiedad antes de gestionar servicios de administración.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Preparación del inventario inicial, a la entrega y devolución del inmueble.</li>
            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Servicio de decoración (costo adicional según trabajo).</li>
        </ul>
        </div>
        </div>
        </div>
        <div class="team-figure">
            <img class="img-responsive support-team" src="assets/images/team.png" alt="">
        </div><!--//team-figure-->
    </section><!--//inmobiliario-section-->
    
    <section class="apps-section section text-center">
        <div class="container">
            <h2 class="section-title">Administración de PH</h2>
            <ul class="apps-list list-inline">
                <li><a class="btn btn-download-app btn-windows-download" href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">PanaterraGroup</span><span class="main-text">Condominio en Línea</span></span></a></li>
            </ul><!--//apps-list-->
        </div><!--//container-->
    </section><!--//apps-section-->
        
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="row text-center">
                Avenida Samuel Lewis, PH Denovo, Ofic. 2501, Obarrio. Panama<br>
                Contactos: (507) 6840-4530 / 6106-4197 / 6060-3275
                <!--//footer-col-->
                <!--//footer-col-->
                <!--//footer-col-->
                <!--//footer-col-->
            </div><!--//row-->
            <div class="divider"></div>
            <div class="footer-bottom text-center">
                <ul class="social-media list-inline">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    
                </ul>
    
                <small class="copyright"><a href="http://themes.3rdwavemedia.com/" target="_blank">Página Web</a> @ Pronet21</small> 
            </div>
        </div><!--//container-->
    </footer><!--//footer-->
    
    <!-- Video Modal -->
    <div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="video-container embed-responsive embed-responsive-16by9">
                        <iframe id="vimeo-video" src="//player.vimeo.com/video/140875675?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    
    <!-- Login Modal -->
    <div class="modal modal-auth modal-login" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="loginModalLabel" class="modal-title text-center"><img src="assets/images/logo.svg" style="vertical-align: bottom">Ingrese a su cuenta</h4>
                </div>
                
                <div class="modal-body">
                    <div id="login-messages" class="text-center"></div>
                    <div class="login-form-container">
                        <form id="login-form" class="login-form" data-destination="{{constant('URL_SISTEMA')}}">
                            <div class="form-group email">
                                <i class="material-icons icon">&#xE0BE;</i>
                                <label class="sr-only" for="email">Email</label>
                                <input id="email" name="email" type="email" class="form-control login-email" placeholder="Email">
                            </div><!--//form-group-->
                            <div class="form-group password">
                                <i class="material-icons icon">&#xE897;</i>
                                <label class="sr-only" for="password">Password</label>
                                <input id="login" name="login" type="hidden" value="1">
                                <input id="password" name="password" type="password" class="form-control login-password" placeholder="Password">
                                <div class="extra">
                                    <div class="checkbox remember">
                                        &nbsp;
                                    </div><!--//check-box-->
                                    <div class="forgotten-password">
                                        <a href="#" id="resetpass-link" data-toggle="modal" data-target="#resetpass-modal">Olvidó su contraseña?</a>
                                    </div>
                                </div><!--//extra-->
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-cta btn-block btn-primary">Ingresar <i class="material-icons">send</i></button>
                        </form>
                    </div><!--//login-form-container-->
                    
                    <div class="option-container">
                        <!--div class="lead-text">Don't have an account?</div--> 
                        <!--a class="signup-link btn btn-ghost-alt" id="signup-link" href="#">Sign Up</a-->
                    </div><!--//option-container-->
                </div><!--//modal-body-->
                
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    
    <!-- Reset Password Modal -->
    <div class="modal modal-auth modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="resetpassModalLabel" class="modal-title text-center">Olvidó su password?</h4>
                </div>
                <div class="modal-body">
                    <div class="resetpass-form-container">
                        <p class="intro">Ingrese el correo electrónico que tenga registrado en nuestros sistemas.</p>
                        <form class="resetpass-form">                
                            <div class="form-group email">
                                <label class="sr-only" for="email">Su Email</label>
                                <input id="email" name="email" type="email" class="form-control login-email" placeholder="Su Email">
                            </div><!--//form-group-->
                            <button type="submit" class="btn btn-block btn-secondary btn-cta">Siguiente</button>
                        </form>
                    </div><!--//login-form-container-->
                    <div class="option-container">
                        <div class="lead-text">Deseo <a class="back-to-login-link" id="back-to-login-link" href="#">regresar a la pantalla de ingreso</a></div>                    
                    </div><!--//option-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->
    <!-- contacto inverbienes modal -->
    <div class="modal modal-auth modal-contact" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="resetpassModalLabel" class="modal-title text-center">Contacto a Coldwell Banker Inverbienes</h4>
                </div>
                <div class="modal-body">
                    <div id="contact-messages" class="text-center"></div>
                    <div class="contact-form-container">
                        <form id="contact-form" class="login-form" data-destination="{{constant('ROOT')}}includes/enviar_email.php">
                            <div class="form-group email">
                                <i class="material-icons icon">&#xE853;</i>
                                <label class="sr-only" for="nombre">Nonmbres</label>
                                <input id="nombre" name="nombre" type="text" class="form-control login-nombre" placeholder="Nombres">
                            </div>
                            <div class="form-group email">
                                <i class="material-icons icon">&#xE0BE;</i>
                                <label class="sr-only" for="email">Email</label>
                                <input id="email" name="email" type="email" class="form-control login-email" placeholder="Email">
                            </div><!--//form-group-->
                            <div class="form-group telefono">
                                <i class="material-icons icon">&#xE0B0;</i>
                                <label class="sr-only" for="telefono">Teléfono</label>
                                <input id="telefono" name="telefono" type="text" class="form-control login-telfono" placeholder="Teléfono">
                            </div><!--//form-group-->
                            <div class="form-group asunto">
                                <i class="material-icons icon">&#xE24C;</i>
                                <label class="sr-only" for="asunto">Asunto</label>
                                <input id="asunto" name="asunto" type="text" class="form-control login-asunto" placeholder="Asunto (Opcional)">
                            </div><!--//form-group-->
                            <div class="form-group mensaje">
                                <label for="mensaje" class="sr-only">Mensaje</label>
                                <textarea id="mensaje" name="mensaje" class="form-control" placeholder="Escriba aquí su mensaje (Opcional)"></textarea>
                            </div>
                            <button type="submit" class="btn btn-cta btn-block btn-danger">Enviar <i class="material-icons">send</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//end modal-->
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.validate.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>  
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="assets/js/view/demo.revolution_slider.js"></script>
    <!--//Page Specific JS -->
    <script type="text/javascript" src="assets/js/home.js"></script>
            
</body>
</html> 